<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
      <file>log/scovmod.log</file>
      <append>true</append>
      <encoder>
        <pattern>%date{dd MMM yyyy;HH:mm:ss:SSS} %-5level %logger{0} [%thread] %X{sourceThread} %msg%n</pattern>
      </encoder>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
        <pattern>%date{dd MMM yyyy;HH:mm:ss:SSS} %-5level %logger{0} [%thread] %X{sourceThread} %msg%n</pattern>
    </encoder>
  </appender>
        
  <root level="INFO">
    <appender-ref ref="FILE" />
  </root>
  
</configuration>

